Repository Lightning-AI/lightning-Habana, pull requests merged in 2023-11, with the labels that each got.

#99 switch multi-card cases from 8 to 2
  .azure/hpu-tests.yml
  tests/test_fabric/test_hpu_accelerator.py
  tests/test_pytorch/test_accelerator.py
  tests/test_pytorch/test_deepspeed.py
Labels: enhancement

#112 ci: switch to multi-agents
  .azure/README.md
  .azure/hpu-tests.yml
Labels: documentation, ci / tests

#114 Upgrade to Synapse AI Release 1.13.0
  .azure/hpu-tests.yml
  CHANGELOG.md
  README.md
  src/lightning_habana/__about__.py
  src/lightning_habana/pytorch/strategies/deepspeed.py
Labels: enhancement, ci / tests
